@import url('../../../../assets/css/main.css');

/* Container styling */
.our-achievement {
  background-color: darkslategray;
  text-align: center;
  padding: 60px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-achievement {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .our-achievement {
    padding: 60px 0;
  }
}

/* Title styling */
.our-achievement .title h2 {
  color: var(--light-color);
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
}

.our-achievement .title p {
  color: var(--light-color);
}


.our-achievement .single-achievement {
  margin-top: 30px; 
  margin-bottom: 30px; 
  text-align: center;
  padding: 20px 10px; 
  border: 2px solid transparent; 
  border-radius: 8px; 
  position: relative; 
  overflow: hidden; 
  transition: transform 0.3s ease; 
  background-color: var(--dark-color); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
}

.our-achievement .single-achievement:before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--highlight-color); 
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-radius: 8px; 
  z-index: -1; 
}

.our-achievement .single-achievement:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.our-achievement .single-achievement:hover:before {
  opacity: 0.2; 
}

.our-achievement .single-achievement .certificate-image {
  width: 100%;
  max-width: 200px; 
  margin: 20px 0; 
  border-radius: 8px; 
  transition: transform 0.3s ease; 
}

.our-achievement .single-achievement:hover .certificate-image {
  transform: scale(1.1); 
}

.our-achievement .single-achievement h3,
.our-achievement .single-achievement p {
  position: relative;
  z-index: 2; 
  color: var(--light-color); 
}

.our-achievement .single-achievement h3 {
  font-size: 24px; 
  font-weight: 700;
  margin-bottom: 5px; 
}

.our-achievement .single-achievement p {
  font-size: 14px; 
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}
